@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Desarrolladora"))
        {

            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Desarrolladora" asp-action="DetailsUser" asp-route-name="@User.Identity.Name">Hola @User.Identity.Name.Split('@')[0]!</a>
            </li>
        }
        @if (User.IsInRole("Cliente"))
        {

            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Cliente" asp-action="DetailsUser" asp-route-name="@User.Identity.Name">Hola @User.Identity.Name.Split('@')[0]!</a>
            </li>
        }

        <li class="nav-item">
            <form class="form-inline" asp-controller="Account" asp-action="Logout">
                <button type="submit" class="nav-link btn btn-link text-light">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>
